.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container p {
    color: white;
    text-align: center;
    width: 150%;
}

.container img {
    border-radius: 32px;
    object-fit: cover;
}
