.container {
    display: flex;
}

.side {
    --circle-size: 12px;
    --circle-margin: 7px;
    margin-left: var(--padding-sides-value);
    position: relative;
}

.line {
    height: calc(100% - var(--circle-size) - var(--circle-margin) * 2);
    background-color: var(--gray-400);
    width: 2px;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
}

.circle {
    width: var(--circle-size);
    height: var(--circle-size);
    border-radius: 30px;
    background-color: white;
    margin: var(--circle-margin) 0;
}

.data {
    --border-radius: 32px;
    width: 100%;
    outline: none;
    border: none;
    text-align: start;
    font-size: 1em;
    display: grid;
    grid-template: 1fr / auto 1fr auto;
    align-items: center;
    gap: 15px;
    background-color: var(--gray-700);
    border-radius: var(--border-radius);
    padding: 7px;
    transition: 100ms ease-in-out;
    text-decoration: none;
    margin: 0 var(--padding-sides-value) 20px 15px;
}

.svgIcon {
    width: 17px;
    height: 17px;
    margin: 10px;
    fill: white;
}

.mediaImage {
    object-fit: cover;
    border-radius: var(--border-radius);
}

.movieDetails {
    color: white;
}

.movieDetails .date {
    color: var(--gray-200);
    font-size: 1em;
    margin-bottom: 15px;
}

.movieDetails .mediaTitle {
    font-size: 1em;
}

.movieDetails .mediaType {
    color: var(--gray-200);
    font-size: 0.9em;
}

.groupIcon {
    color: black;
    padding: 7px;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 15px;
}
