.container {
    --pading-sides: 25px;
    position: sticky;
    top: var(--padding-sides-value);
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
    padding: 15px var(--pading-sides);
    border-radius: 50px;
    border: rgba(255, 255, 255, 0.04) 2px solid;
    background: linear-gradient(105deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.15) 65%, rgba(255, 255, 255, 0.11) 100%);
    backdrop-filter: blur(80px);
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}

.svgIcon {
    --size: 25px;
    fill: white;
    width: var(--size);
    height: var(--size);
}

.textBox {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
}

.loadingBar {
    --height: 2px;
    height: var(--height);
    width: calc(100% - var(--pading-sides) * 2);
    position: absolute;
    border-radius: 10px;
    bottom: calc(var(--height) / -2);
}

.isLoading {
    background: linear-gradient(256deg, #00000000 30%, rgba(255, 255, 255, 0.5), #00000000 70%);
    background-size: 600% 600%;
    animation: loading-animation 2s ease-in-out infinite;
}

@keyframes loading-animation {
    0% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0 50%
    }
}
