.container {
    --pading-sides: 25px;
    top: var(--padding-sides-value);
    left: var(--padding-sides-value);
    right: var(--padding-sides-value);
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px var(--pading-sides);
    border-radius: 50px;
    border: rgba(255, 255, 255, 0.1) 2px solid;
}

.svgIcon {
    --size: 25px;
    fill: white;
    width: var(--size);
    height: var(--size);
}

.textBox {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
}
