.container {
    height: 100vh;
    width: 100vw;
    color: white;
    background: linear-gradient(0deg, var(--gray-900) 0%, var(--gray-600) 60%);
    display: grid;
    grid-template: 1fr auto / 100%;
    overflow: hidden;
    z-index: calc(var(--navigation-z-index) + 1);
    position: fixed;
}

.title {
    z-index: 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: var(--padding-sides-value);
}

.title > p {
    font-size: 1.2em;
}

.title > a {
    margin: 25px 0;
    padding: 10px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow-anchor: auto;
}

.title > a:active {
    background-color: var(--gray-200);
}
