.container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 100%;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    fill: white;
    height: 35px;
    width: 35px;
}

.circle {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: white;
    margin: 0 auto;
}

.invisible {
    opacity: 0;
}
