.container {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    cursor: pointer;
    user-select: none;
    width: 100%;
    padding: 15px 60px;
    z-index: var(--navigation-z-index);
    background: var(--background-color-transparent);
    backdrop-filter: blur(15px);
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    fill: white;
    height: 22px;
    width: 22px;
}

.circle {
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: white;
    margin: 5px auto 0 auto;
}

.invisible {
    opacity: 0;
}
