@font-face {
  font-family: GooglaSansDisplay;
  src: url('/fonts/GooglaSansDisplayRegular.woff2');
  font-weight: normal;
}

@font-face {
  font-family: GooglaSansDisplay;
  src: url('/fonts/GooglaSansDisplayBold.woff2');
  font-weight: bold;
}

:root {
  --gray-200: #b6b6b6;
  --gray-400: #8f8f8f;
  --gray-500: #6e6e6e;
  --gray-600: #414141;
  --gray-700: #363636;
  --gray-900: #1a1a1a;
  --background-color: var(--gray-900);
  --padding-sides-value: 25px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: GooglaSansDisplay, serif;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
}
