.main {
    padding: var(--padding-sides-value);
    color: white;
    display: flex;
    flex-direction: column;
}

.tvImage {
    margin: 10px auto;
}

.greeting {
    text-align: center;
}

.searchShortcut {
    display: flex;
    color: white;
    fill: white;
    text-decoration: none;
    gap: 15px;
    align-items: center;
    margin: 30px 0;
    opacity: 0.5;
}

.searchShortcut svg {
    width: 30px;
    height: 30px;
}

.searchShortcut span {
    text-decoration: underline !important;
}
