.container {
    color: white;
    padding: var(--padding-sides-value);
    background-attachment: fixed;
    background-image: url('/images/dark-background.jpg');
    background-size: cover;
}

.title {
    margin-bottom: 30px;
}

.mediaList {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.popupText {
    margin: 5px 0 25px;
}
