.parallax {
    min-height: 70vh;
}

.container {
    margin-top: -25vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.containerCorner {
    position: absolute;
    top: 0;
    z-index: 0;
    --blur-radius: 40px;
    height: 50vh;
    width: calc(100% + var(--blur-radius) * 4);
    filter: blur(40px);
    background-color: var(--background-color);
    border-radius: 0 300px 0 0;
    margin: 0 calc(var(--blur-radius) * -2) 0 calc(var(--blur-radius) * -2);
}

.header p,
.header h1 {
    color: white;
}

.header {
    padding: 45px var(--padding-sides-value) 0 var(--padding-sides-value);
    z-index: 1;
}

.header h1 {
    font-size: 2.5rem;
}

.playersSection {
    padding: 30px var(--padding-sides-value);
    z-index: 1;
}

.errorMessage {
    font-size: 1.1em;
    color: white;
    text-align: center;
}
