.container {
    padding: var(--padding-sides-value);
    padding-bottom: var(--padding-bottom);
    position: absolute;
    margin-top: 90px;
    color: white;
    width: 100%;
}

.noResults {
    text-align: center;
    opacity: 0.7;
    font-weight: normal;
    margin-top: 50px;
}
